body{
  margin: 0;
}
#container {
    max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
  }
  @media (min-width: 600px) {
    #container { grid-template-columns: repeat(2, 1fr); }
  }
  @media (min-width: 900px) {
    #container { grid-template-columns: repeat(4, 1fr); }
  }
  .card{
    background-color: rgba(255, 255, 255, 0.374);
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 0px 2px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 1px 0px 2px rgba(0,0,0,0.21);
    box-shadow: 0px 1px 0px 2px rgba(0,0,0,0.21);
    
  }
  .card:hover{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33); 
 }
 
 #header{
background-color: black;
display: flex;
justify-content: space-between;

 }
 
 #generos{
  display: flex;
gap: 10px; ;
 }
 ul {
  list-style: none;
}
.botongeneros{
  cursor: pointer;
  border: none;
  background-color: black;
  color: aliceblue;
}

#titulo{
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.direccionmedio{
  display: flex ;
  justify-content: center;
  margin: 0 auto;
}
.paginas{
  display: flex ;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  align-items:center ;
}
footer{
  margin-top: 10px;
  background-color: black;
  font-size: 30px;
  color: white;
  padding-top: 40px;
  padding-bottom: 50px;
}
#personajes{
  margin-left: 10px;
}